body{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgb(255, 255, 255)),
    url(../public/assets/background.jpg);
    background-position-y: 40%;
    overflow: hidden;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.search-bar{
    width: 20vw;
    height: 75px;
    border-radius: 24px;
    border: none;
    font-size: 2em;
}

#p-bg{
    background: linear-gradient(to bottom, rgba(59, 24, 212, 0.3), rgba(0,0,0,0));
    border-radius: 25px;
}